body, html {
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #048bdb, white);
    background-repeat:no-repeat;
    background-attachment: fixed;
    margin: 0px;
    min-height: 100%;
}

.div-main-background {
    height: 100%;
}

.div-header-intro-breakline {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    height: 60px;
}

.div-header-intro-left-content {
    float: left;
    color: white;
    padding-top: 20px;
    padding-left: 15%;
    width: 30%;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.div-title {
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: Roboto;
    padding-top: 70px;
}

.div-sub-title {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Roboto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.div-footer-breakline {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    height: 60px;
}

.div-main-content-background {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.div-left-main-content-background {
    height: 100%;
    float: left;
    flex: 1 1 15%;
}

.div-right-main-content-background {
    height: 100%;
    float: left;
    flex: 3 1 15%;
}

.div-main-main-content-background {
    display: inline-block;
    width: 80%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    flex: 2 1 70%;
}

.div-content-main-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}